<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title></title>
   <link rel="stylesheet" href="/css/main.css">
   <script async defer src="https://buttons.github.io/buttons.js"></script>
 </head>
 <body>
  <h1>Talentum Surf</h1>
  <p class="lead mb-3"> Welcome To Talentum Surf</p>
  
  <h3 id="responsive-meta-tag"><span class="bd-content-title">Description
    <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#Description" style="padding-left: 0.375em;"></a></span></h3>
    <p>This is <em>Talentum Surf!</em>, a strategy in which we optimize the process of position search</strong> </p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
 </body>
</html>
